  <span>{{step}}</span>
  <span>{{hello}}</span>
  <span>saveresult = {{save_result.class}}</span>
  <h5>Hello {{user.first_name}} {{user.last_name}}, please complete your profile</h5>
  <form class="form-horizontal" ng-submit="completeProfile()">
    <input type="hidden" name="_id" ng-model="user._id" value="{{user._id}}" />
    <span>id = {{user._id}}</span>
    <div class="control-group">
      <label class="control-label" for="phone">phone</label>
      <div class="controls">
        <input name='phone' type="text" ng-model="user.phone" placeholder="phone">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="street">street</label>
      <div class="controls">
        <input name='street' type="text" ng-model="user.street" placeholder="street">
      </div>
    </div>
    <hr>
  <div class="control-group">
    <div class="controls">
    <input class="btn-primary" type="submit" value="update">
  </div>
  </div>
  </form> 

