      <span>{{step}}</span>
      <h5>Register for access to the site</h5>
      <form class="form-horizontal" ng-submit="createAccount()">
        <div class="control-group">
          <label class="control-label" for="first_name">given name</label>
          <div class="controls">
            <input name='first_name' type="text" ng-model="user.first_name" placeholder="given name">
            <span>{{user.first_name}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="last_name">surname</label>
          <div class="controls">
            <input name='last_name' type="text" ng-model="user.last_name" placeholder="surname">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">username</label>
          <div class="controls">
            <input name='username' type="text" ng-model="user.username" placeholder="desired username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">email</label>
          <div class="controls">
            <input name='email' type="text" ng-model="user.email" placeholder="your email address">
          </div>
        </div>
        <hr>
      <div class="control-group">
        <div class="controls">
        <input class="btn-primary" type="submit" value="Register">
      </div>
      </div>
      </form> 

