    <div ng-controller="RegisterCtrl">
      <span>{{step}}</span>
      <h3>Register for access to the site</h3>
      <form ng-submit="createAccount()">
        <input name='first_name' type="text" ng-model="user.first_name" placeholder="given name">
        <span>{{user.first_name}}</span>
        <input name='' type="text" ng-model="user.last_name" placeholder="surname">
        <input name='username' type="text" ng-model="user.username" placeholder="desired username">
        <input name='email' type="text" ng-model="user.email" placeholder="your email address">
        <hr>
        <input class="btn-primary" type="submit" value="Register">
      </form> 
    </div>

